.relative-list {
    background-color: #fff; 
    padding: 5px;
    border-radius: 4px;
    
     color: var(--text-color);
     line-height: 1.8em;
     font-size: 0.9em;
 }
 .relative-container  .heading {
     display: flex;
     
     max-width: 320px;
     margin: 0;
     color: var(--text-color);
     font-size: 1em;
     justify-content: left;
 }
.relative-list button {
    border: none;
    font-weight: bold;
    padding: 2px 0px 8px 8px;
    background-color: rgb(225,225,225);
}
.relative-container ul {
    display: flex;
    border-style: solid;
    border: 1px solid rgb(217, 209, 209)
}
.relative-container li {
    background-color: rgb(225,225,225);
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 85%;
    color: hsl(0, 0%, 20%);
}