.person-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    grid-gap: 60px
}
.person-summary {
   background-color: #fff; 
   padding: 30px;
   border-radius: 4px;
}
.person-summary {
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
}
.person-summary h4 {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
}
.person-summary .image {
    border-radius: 6px;
    max-width: 150px;
    max-height: 150px;
}
.person-summary .btn {
    margin-top:20px
}
/* person comments */
.comments {
    color: var(--text-color);
    
}
.comments label {
    margin-bottom: 0px;
}
.comments textarea {
    min-height: 40px;
    font-size: 1.5em;
}