
.person-details {
   background-color: #fff; 
   padding: 0px;
   border-radius: 4px;
}
.person-details {
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
}
.person-details .heading {
    top: 0px;
    left: 0px;
    max-width: 320px;
    margin: 0 auto;
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
}
.person-details h4 {
    text-align: left;
    display: inline;
}
.person-details .image {
    border-radius: 6px;
    max-width: 200px;
    max-height: 200px;
}