.container {
  background-color: #fff; 
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}
.contact {
 cursor: pointer;
}

.faq-list ul {
  list-style-type: square;
}